hn_digest_groq.json
{
  "name": "HN Daily Digest — Groq",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Read HN RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Take Top 5",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// Collect all 5 articles into ONE prompt.\n// We only want a single Groq API call — no loops, no per-item requests.\n\nconst items = $input.all();\n\nconst articleList = items\n  .map((item, i) => {\n    const title   = item.json.title           || 'Untitled';\n    const link    = item.json.link            || '';\n    const snippet = (item.json.contentSnippet || item.json.content || '').slice(0, 400);\n    return `[${i + 1}] ${title}\\n    Link: ${link}\\n    ${snippet}`;\n  })\n  .join('\\n\\n');\n\nconst userMessage =\n  `You are a sharp tech newsletter editor.\\n` +\n  `Below are ${items.length} articles from Hacker News.\\n` +\n  `Write a clean daily digest: for each article give it a bold title line,` +\n  ` then 2-3 sentences on why it matters. Keep the whole digest under 400 words.\\n\\n` +\n  articleList;\n\n// Build the full Groq request body here so the HTTP node stays static.\nconst requestBody = JSON.stringify({\n  model: 'llama-3.1-8b-instant',\n  messages: [\n    {\n      role: 'system',\n      content: 'You write concise, insightful tech digests. No fluff, no markdown headers — just clear paragraphs.'\n    },\n    {\n      role: 'user',\n      content: userMessage\n    }\n  ],\n  max_tokens: 1024,\n  temperature: 0.7\n});\n\nreturn [{ json: { requestBody, count: items.length } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Groq — One Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq response and wrap it in a clean output object.\nconst response = $input.first().json;\n\nif (!response.choices || !response.choices[0]) {\n  throw new Error('Groq returned no choices. Raw response: ' + JSON.stringify(response));\n}\n\nconst digest = response.choices[0].message.content.trim();\n\nconst today = new Date().toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nreturn [{\n  json: {\n    title:       `HN Digest — ${today}`,\n    digest,\n    tokens_used: response.usage?.total_tokens ?? 'unknown',\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [[{ "node": "Read HN RSS",   "type": "main", "index": 0 }]]
    },
    "Read HN RSS": {
      "main": [[{ "node": "Take Top 5",    "type": "main", "index": 0 }]]
    },
    "Take Top 5": {
      "main": [[{ "node": "Build Prompt",  "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Groq — One Call", "type": "main", "index": 0 }]]
    },
    "Groq — One Call": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "workshop-demo"
  }
}
